.orders{
	background-color: #efefef;
	padding: 0px;
	margin: 1em 0px;
	border-bottom: 3px dashed #333;
	display: flex;
	align-items: flex-start;
}

.order-map{
	background: red;
	margin-bottom: 0.5em;
	line-height: 2em;
}

.order-map:not(:nth-of-child(1)){
}

.order-map-name{
	color: #fff;
	background: #333;
	padding-left: 10px;
}

.order-search{
	padding: 1em;
	min-width: 200px;
}

.order-status{

}